# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# bat files
build.bat

# PyInstaller
*.spec

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp
*.part